@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 430px;
    font-size: .75rem;
    border-radius: 10px;
    box-shadow: 8px 8px;
}

.card img{
    width: 288px;
    height: 169px;
    margin: 12px 12px 0 12px;
    border-radius: 10px;
}

.card .card-info{
    width: 288px;
    height: 230px;
    background-color: hsl(0, 0%, 100%);
    margin: 5px 12px 0 12px;
    display: grid;
}

.card .card-info .type{
    width:75px;
    height: 25px;
    background-color: hsl(47, 88%, 63%); 
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.card .card-info .type p{
    font-weight: bold;
}

.card .card-info h1{
    font-weight: bold;
}

.card .card-info h1{
    font-weight: bold;
}

.card .card-info > :nth-child(n+4):nth-child(-n+6) {
    line-height: .65;
    font-size: .90rem;
    color: hsl(0, 0%, 50%);
}

.card .card-info > :nth-child(4) {
    margin-top: 8px;
}

.card .card-info .card-author{
    display: flex;
    justify-content: flex-start;
}


.card .card-info .card-author img{
    width: 30px;
    height: 30px;
    margin-left: 0;
}

.card .card-info .card-author p{
    align-self: center;
    font-weight: bold;
}



